.search-box-container{
    display: grid;
    grid-template:
    ". search-heading . search-input ." auto/
     2fr auto 1fr 4fr 2fr;
     background-color: rgb(126, 163, 194);
}

.search-box-heading{
  display: inline-block;
  grid-area: search-heading;
}

.search-box-input{
  display: inline-block;
  grid-area: search-input;
  height: 30px;

  font-size: 1rem;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.results-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    align-content: center;
    background-color: rgb(126, 163, 194); 
    padding-top: 20px;
    padding-left:3%;
    min-height: 490px;
  }

