.listing-article{
  display: grid;
}

.singlerecordDb-card {
    border: solid 1px red;
    border-radius: 7px;
  }
  
  .albumImage {
    width: 100%;
  }
  
  .recordBuyButtn,
  .recordFavBttn {
    display: block;
    margin: 10px;
  }
  
  .artistCardTextInfo {
    font-size: 1.2rem;
  }
  
  .recordInfoDb {
    margin: 10px;
  }
  