.listing-article {
  display: grid;
  margin: 10px;
}

.singlerecordDb-card {
  border: solid 1px red;
  border-radius: 7px;
}

.albumImage {
  width: 100%;
  cursor: pointer;
}

.recordBuyButtn,
.recordFavBttn {
  display: block;
  margin: 10px;
  font-family: "Abel", sans-serif;
  color: red;
  border-radius: 5px;
  cursor: pointer;
}

.artistCardTextInfo,
.albumCardTextInfo {
  font-size: 1.2rem;
}

.recordInfoDb {
  margin: 10px;
}
